@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700;900&display=swap");
/* Universal Properties */
:root {
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* Modules */
/* Navbar Section */
.button-container {
  position: absolute;
  top: 2rem;
  left: 0rem;
  z-index: 30;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1250px) {
  .button-container {
    left: 2rem;
  }
}

.nav {
  width: 100%;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #717bc1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.nav__container {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__button-open {
  position: absolute;
  left: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo-box {
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 2rem;
}

.nav__logo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav__title {
  color: #e62837;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__subtitle {
  color: #002290;
  font-size: 1.5rem;
}

/* End of Navbar Section */
/* Sidebar */
.sidebar {
  position: fixed;
  top: 4rem;
  left: -31rem;
  width: 30rem;
  height: calc(100vh - 4rem);
  min-height: 45rem;
  background-color: #f8f8f8;
  z-index: 10;
  -webkit-transition: left 0.6s;
  -o-transition: left 0.6s;
  transition: left 0.6s;
}

@media (max-width: 650px) {
  .sidebar {
    width: 23rem;
  }
}

.sidebar--opened {
  left: 0rem;
}

.sidebar__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-top: 1rem;
}

@media (max-width: 1250px) {
  .sidebar__list {
    margin-top: 0rem;
  }
}

@media (max-height: 850px) {
  .sidebar__list {
    height: 80%;
  }
}

.sidebar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 1rem 7.5rem;
  opacity: 0;
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.sidebar__item i {
  width: 1.5rem;
  font-size: 1.5rem;
  display: inline-block;
  margin-right: 1rem;
}

.sidebar__item:hover a {
  color: #e62837;
}

.sidebar__link {
  color: #002290;
  font-size: 1.5rem;
  font-weight: 400;
}

/* Sidebar Animations */
@-webkit-keyframes sidebarAnimation {
  0% {
    margin: 1rem 7.5rem;
    opacity: 0;
  }
  100% {
    margin: 1rem 4rem;
    opacity: 1;
  }
}
@keyframes sidebarAnimation {
  0% {
    margin: 1rem 7.5rem;
    opacity: 0;
  }
  100% {
    margin: 1rem 4rem;
    opacity: 1;
  }
}

@-webkit-keyframes reverseSidebarAnimation {
  0% {
    margin: 1rem 4rem;
    opacity: 1;
  }
  100% {
    margin: 1rem 7.5rem;
    opacity: 0;
  }
}

@keyframes reverseSidebarAnimation {
  0% {
    margin: 1rem 4rem;
    opacity: 1;
  }
  100% {
    margin: 1rem 7.5rem;
    opacity: 0;
  }
}

/* End of Sidebar Section */
/* Banner Section*/
.banner {
  width: 100%;
  height: 40rem;
  background: url(../images/banner.jpg) no-repeat bottom;
  background: #002290;
  background-size: cover;
  position: relative;
  top: 4rem;
}

@media (max-width: 1250px) {
  .banner {
    height: 30rem;
  }
}

@media (max-width: 850px) {
  .banner {
    height: 23rem;
  }
}

.banner__container {
  position: relative;
}

@media (max-width: 1250px) {
  .banner__container {
    padding: 0 2em;
  }
}

.banner__txt-content {
  position: relative;
  top: 10rem;
  left: 0;
  line-height: 1.5;
  max-width: 35rem;
  -webkit-transform: translateZ(1rem);
          transform: translateZ(1rem);
}

@media (max-width: 1250px) {
  .banner__txt-content {
    top: 8rem;
    max-width: 32rem;
  }
}

@media (max-width: 1050px) {
  .banner__txt-content {
    max-width: 26rem;
  }
}

@media (max-width: 950px) {
  .banner__txt-content {
    padding-left: 1em;
    top: 3rem;
    max-width: 24rem;
  }
}

@media (max-width: 750px) {
  .banner__txt-content {
    max-width: 100%;
    text-align: center;
  }
}

.banner__subtitle {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}

.banner__subtitle span {
  color: #e62837;
}

@media (max-width: 1250px) {
  .banner__subtitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 750px) {
  .banner__subtitle {
    max-width: 23rem;
    margin: auto;
  }
}

.banner__title {
  font-size: 7rem;
  color: #e62837;
}

@media (max-width: 1250px) {
  .banner__title {
    font-size: 5rem;
  }
}

.banner__img-wrapper {
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  height: 100%;
}

@media (max-width: 850px) {
  .banner__img-wrapper {
    left: 55%;
  }
}

@media (max-width: 750px) {
  .banner__img-wrapper {
    display: none;
  }
}

.banner__image-box {
  position: absolute;
  width: 16rem;
  height: 24rem;
  padding: 0.5rem;
  background-color: #fff;
}

@media (max-width: 1250px) {
  .banner__image-box {
    width: 12rem;
    height: 18rem;
  }
}

@media (max-width: 850px) {
  .banner__image-box {
    width: 8rem;
    height: 12rem;
  }
}

.banner__image-box--first {
  top: 25%;
  left: 50%;
  z-index: 10;
}

@media (max-width: 850px) {
  .banner__image-box--first {
    top: 35%;
    left: 45%;
  }
}

.banner__image-box--second {
  width: 24rem;
  height: 16rem;
  top: 15%;
  left: 15%;
  z-index: 8;
}

@media (max-width: 1250px) {
  .banner__image-box--second {
    width: 18rem;
    height: 12rem;
  }
}

@media (max-width: 850px) {
  .banner__image-box--second {
    width: 12rem;
    height: 8rem;
    top: 15%;
  }
}

.banner__image-box--third {
  top: 45%;
  left: 0%;
  z-index: 4;
}

@media (max-width: 850px) {
  .banner__image-box--third {
    top: 35%;
    left: 5%;
  }
}

.banner__image-box--fourth {
  width: 24rem;
  height: 16rem;
  top: 95%;
  left: 15%;
  z-index: 0;
}

@media (max-width: 1250px) {
  .banner__image-box--fourth {
    width: 18rem;
    height: 12rem;
  }
}

@media (max-width: 850px) {
  .banner__image-box--fourth {
    width: 12rem;
    height: 8rem;
  }
}

@media (max-width: 850px) {
  .banner__image-box--fourth {
    top: 75%;
  }
}

.banner__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/* End of Banner Section*/
/* Sections  */
.section {
  position: relative;
  top: 4rem;
  padding: 4em 0em 4em;
}

.section#topSights, .section#frenchFood {
  background-color: #f2f2f2;
}

.section__container {
  padding: 1em 1em 0em;
  max-height: 45rem;
}

.section__title {
  color: #002290;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.25rem;
  text-align: center;
  margin-bottom: 0rem;
}

#topSights .section__title,
#frenchFood .section__title {
  color: #e62837;
}

.gallery {
  position: relative;
  padding: 0 4.5rem;
}

.gallery__button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -webkit-box-shadow: 0rem 0rem 0.5rem #888;
          box-shadow: 0rem 0rem 0.5rem #888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #002290;
  background-color: #fff;
  position: absolute;
  top: 50%;
  font-size: 1.5rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.gallery__button--prev {
  left: 1rem;
  display: none;
}

.gallery__button--next {
  right: 1rem;
}

.gallery__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: no-wrap;
          flex-flow: no-wrap;
  padding: 3em 0em 2em;
  overflow: hidden;
}

.gallery__guide {
  margin: 0 1.5%;
}

@media (max-width: 650px) {
  .gallery__guide {
    margin: 0 3%;
  }
}

.guide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30.3333%;
          flex: 0 0 30.3333%;
  max-height: 36rem;
  background-color: #fff;
  -webkit-box-shadow: 0rem 0rem 0.625rem #888;
          box-shadow: 0rem 0rem 0.625rem #888;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in, -webkit-transform 0.4s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in, -webkit-transform 0.4s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in, transform 0.4s ease-in-out;
  transition: box-shadow 0.3s ease-in, transform 0.4s ease-in-out;
  transition: box-shadow 0.3s ease-in, transform 0.4s ease-in-out, -webkit-box-shadow 0.3s ease-in, -webkit-transform 0.4s ease-in-out;
  position: relative;
}

@media (max-width: 850px) {
  .guide {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47%;
            flex: 0 0 47%;
  }
}

@media (max-width: 650px) {
  .guide {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 94%;
            flex: 0 0 94%;
  }
}

.guide:hover {
  -webkit-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0rem 0rem 1.25rem #888;
          box-shadow: 0rem 0rem 1.25rem #888;
}

.guide:hover .guide__image {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.guide__image-box {
  width: 100%;
  height: 188.75px;
  overflow: hidden;
}

.guide__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.guide__info {
  padding: 1em;
}

.guide__name-box {
  margin-bottom: 0.5rem;
}

.guide__name {
  color: #e62837;
  letter-spacing: 0.125rem;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.guide__title {
  color: #002290;
  letter-spacing: 0.125rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.guide__description {
  color: #555;
  font-size: 1rem;
  text-indent: 1rem;
  text-align: justify;
  margin-bottom: 3.5rem;
}

.guide__rating-display {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 0.875rem;
  margin-bottom: 0rem;
}

.guide__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e62837;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.guide__rating-stars {
  margin-right: 1rem;
}

.guide__reviews {
  color: #002290;
  font-weight: 500;
}

/* End of Sections  */
/* Newsletter Section */
.newsletter {
  position: relative;
  top: 4rem;
  padding: 6em 2em 6em;
}

.newsletter__container {
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0rem 0rem 1.25rem #888;
          box-shadow: 0rem 0rem 1.25rem #888;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.newsletter__container:hover {
  -webkit-box-shadow: 0rem 0rem 3rem #888;
          box-shadow: 0rem 0rem 3rem #888;
}

.newsletter__container:hover .newsletter__image {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 850px) {
  .newsletter__container {
    max-width: 90%;
  }
}

@media (max-width: 850px) {
  .newsletter__container {
    height: 24rem;
  }
}

@media (max-width: 650px) {
  .newsletter__container {
    height: auto;
  }
}

.newsletter__image-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  overflow: hidden;
}

@media (max-width: 850px) {
  .newsletter__image-box {
    display: none;
  }
}

.newsletter__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.newsletter__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  height: 100%;
  background-color: #889aee;
  background-color: #002290;
  padding: 2em;
}

@media (max-width: 850px) {
  .newsletter__form {
    text-align: center;
  }
}

.newsletter__title {
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 3.5rem;
}

.newsletter__title span {
  color: #e62837;
}

@media (max-width: 1050px) {
  .newsletter__title {
    font-size: 2rem;
  }
}

@media (max-width: 850px) {
  .newsletter__title {
    margin-bottom: 1rem;
  }
}

.newsletter__text {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 4rem;
  max-width: 26rem;
}

@media (max-width: 1050px) {
  .newsletter__text {
    font-size: 1.25rem;
  }
}

@media (max-width: 850px) {
  .newsletter__text {
    max-width: 100%;
  }
}

@media (max-width: 850px) {
  .newsletter__text {
    margin-bottom: 1rem;
  }
}

.newsletter__form-elements {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 1050px) {
  .newsletter__form-elements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.newsletter__input {
  width: 25rem;
  height: 3rem;
  border: 4px solid #eee;
  color: #002290;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.125rem;
  letter-spacing: 0.0625rem;
  -webkit-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
  padding: 0.75em 0.5em;
  margin-right: 2rem;
}

.newsletter__input:focus {
  outline: none;
  border: 4px solid #e62837;
}

.newsletter__input:valid {
  border: 4px solid green;
}

@media (max-width: 1050px) {
  .newsletter__input {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 650px) {
  .newsletter__input {
    width: 100%;
    margin-right: 0;
  }
}

.newsletter__email-sign {
  position: absolute;
  top: 50%;
  left: 22.5rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.125rem;
  color: #9aade4;
}

@media (max-width: 1050px) {
  .newsletter__email-sign {
    top: 1.5rem;
  }
}

@media (max-width: 850px) {
  .newsletter__email-sign {
    left: 70%;
  }
}

@media (max-width: 850px) {
  .newsletter__email-sign {
    left: 75%;
  }
}

.newsletter__button {
  height: 3rem;
  color: #fff;
  background-color: #00ad00;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em 2em;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.1s;
  transition: background-color 0.3s, -webkit-transform 0.1s;
  -o-transition: background-color 0.3s, transform 0.1s;
  transition: background-color 0.3s, transform 0.1s;
  transition: background-color 0.3s, transform 0.1s, -webkit-transform 0.1s;
}

.newsletter__button:hover {
  background-color: green;
}

.newsletter__button:active {
  outline: none;
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}

.newsletter__alert {
  position: absolute;
  top: 4rem;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.125rem;
  color: #f22613;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media (max-width: 1050px) {
  .newsletter__alert {
    top: -2rem;
  }
}

@media (max-width: 850px) {
  .newsletter__alert {
    top: 9rem;
  }
}

.newsletter__modal {
  position: fixed;
  top: 0;
  left: 0;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.modal__wrapper {
  width: 48rem;
  height: 30rem;
}

.modal--block-valid {
  color: #00008b;
  background-color: #9aade4;
}

.modal__block {
  width: 100%;
  height: 100%;
}

.modal__sign-box {
  width: 100%;
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
}

.modal__sign {
  color: #00ad00;
  font-size: 8rem;
  letter-spacing: 0.125rem;
  text-align: center;
}

.modal__text-box {
  width: 100%;
  height: 55%;
  color: #002290;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 4em;
}

.modal__text-title {
  color: #00ad00;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1rem;
}

.modal__text {
  color: #535cac;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

/* End of  Newsletter Section */
/* Articles Section */
.art-column {
  position: relative;
  top: 4rem;
  background-color: #f2f2f2;
  padding: 4rem 0rem 4em;
}

.art-column__container {
  padding: 0 1em;
}

@media (max-width: 850px) {
  .art-column__container {
    padding: 0 2em;
  }
}

.art-column__title {
  color: #002290;
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem 0.2rem #888;
  letter-spacing: 0.25rem;
  text-align: center;
  margin-bottom: 3rem;
}

.art-column__title span {
  color: #e62837;
}

.art-column__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  gap: 2rem;
}

@media (max-width: 950px) {
  .art-column__wrapper {
    gap: 1rem;
  }
}

.article {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  background-color: #fff;
  -webkit-box-shadow: 0rem 0rem 0.625rem #888;
          box-shadow: 0rem 0rem 0.625rem #888;
  padding: 1em 1em 1.5em;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 850px) {
  .article {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }
}

@media (max-width: 550px) {
  .article {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 98%;
            flex: 0 1 98%;
  }
}

.article:hover {
  -webkit-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0rem 0rem 1.25rem #888;
          box-shadow: 0rem 0rem 1.25rem #888;
}

.article:hover .article__image {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.article__image-box {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.article__image {
  width: 100%;
  max-height: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.article__text-box {
  line-height: 1.5;
}

.article__title {
  color: #002290;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.article__title:hover {
  color: #1e90ff;
}

.article__text {
  color: #555;
  font-size: 1rem;
  text-align: justify;
}

.article__text span {
  color: #e62837;
  font-weight: 700;
  cursor: pointer;
}

.article__text span:hover {
  text-decoration: underline;
}

/* End of  Articles Section */
/* Slider */
.slider {
  position: relative;
  top: 4rem;
  padding: 4em 0 4em;
}

.slider__container {
  position: relative;
}

.slider__title {
  color: #e62837;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.25rem;
  text-align: center;
  margin-bottom: 2rem;
}

.slider__main-block {
  position: relative;
}

.slider__main-image-box {
  width: 100%;
  height: 50rem;
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 2rem;
}

@media (max-width: 1250px) {
  .slider__main-image-box {
    width: 80%;
    height: 30rem;
  }
}

.slider__main-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.slider__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: scale 0.3s ease-in;
  -o-transition: scale 0.3s ease-in;
  transition: scale 0.3s ease-in;
  color: #fff;
  background-color: transparent;
  font-size: 1.5rem;
  padding: 1em;
  cursor: pointer;
}

.slider__btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.slider__btn:active {
  -webkit-transform: translateY(-50%) scale(0.98);
      -ms-transform: translateY(-50%) scale(0.98);
          transform: translateY(-50%) scale(0.98);
}

.slider__btn--prev {
  left: 0rem;
}

.slider__btn--next {
  right: 0rem;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin: 0 -1%;
  position: relative;
}

@media (max-width: 1250px) {
  .slider__wrapper {
    margin: 0;
    width: 80%;
    top: 0rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.slider__image-box {
  height: 9.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18%;
          flex: 0 1 18%;
  margin: 1%;
  cursor: pointer;
}

@media (max-width: 1050px) {
  .slider__image-box {
    height: 6.25rem;
  }
}

.slider__image {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* End of Slider */
/* Entry Secion */
.entry {
  position: relative;
  top: 4rem;
  padding: 4em 0 4em;
  background-color: #f2f2f2;
}

.entry__container {
  padding: 0 2em;
}

.entry__title {
  color: #e62837;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.25rem;
  text-align: center;
  margin-bottom: 2rem;
}

.entry__text-box {
  margin-bottom: 2.5rem;
}

.text-box__subtitle {
  color: #002290;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.text-box__text {
  color: #222;
  font-size: 1.125rem;
  text-align: justify;
  line-height: 1.6;
}

/* End of  Entry Secion */
/* Brief Section */
.brief {
  position: relative;
  top: 4rem;
  padding: 4em 0 4em;
}

.brief__title {
  color: #002290;
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem 0.2rem #888;
  letter-spacing: 0.25rem;
  text-align: center;
  margin-bottom: 2rem;
}

.brief__title span {
  color: #e62837;
}

@media (max-width: 650px) {
  .brief__title {
    padding: 0 1em;
  }
}

.brief__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: 100%;
  color: black;
}

.brief__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #002290;
  font-size: 1.125rem;
  border: 1px solid #002290;
  cursor: pointer;
  margin: 1rem;
}

.brief__item:hover .brief__text {
  background-color: #002290;
  color: #fff;
}

@media (max-width: 850px) {
  .brief__item {
    margin: 0.5rem;
    font-size: 0.875rem;
  }
}

.brief__number {
  color: #fff;
  background-color: #002290;
  padding: 1em;
}

.brief__text {
  background-color: #fff;
  padding: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* End of  Brief Section */
/* Footer */
.footer {
  position: relative;
  top: 4rem;
  color: #f2f1ef;
  background-color: #002290;
  padding: 3em 0em 3em;
}

.footer__container {
  font-size: 1rem;
}

@media (max-width: 1250px) {
  .footer__container {
    padding: 0 2em;
  }
}

@media (max-width: 950px) {
  .footer__container {
    font-size: 0.875rem;
  }
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}

.footer__wrapper--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__content {
  letter-spacing: 0.125rem;
  margin: auto;
}

.footer__content span:hover {
  color: #e62837;
  cursor: pointer;
}

.footer__text {
  margin-bottom: 1rem;
}

.footer__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

@media (max-width: 850px) {
  .footer__location {
    display: block;
  }
}

.footer__email {
  margin-right: 3rem;
}

.footer__coordinates {
  position: relative;
  margin-right: 3rem;
}

.footer__coordinates::before {
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-size: 0.75rem;
  color: #fff;
  position: absolute;
  left: -1.5rem;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 850px) {
  .footer__coordinates::before {
    content: "";
  }
}

@media (max-width: 850px) {
  .footer__coordinates {
    margin-top: 0.5rem;
  }
}

.footer__address {
  width: 10rem;
  position: relative;
  left: 17rem;
  margin-right: 0;
}

@media (max-width: 950px) {
  .footer__address {
    left: 16rem;
  }
}

@media (max-width: 850px) {
  .footer__address {
    left: 0;
  }
}

.footer__socials {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7.75rem;
  cursor: pointer;
  padding: 1em;
  margin: 0.5rem;
  border: 1px solid #fff;
}

.footer__icon-box:hover {
  color: #e62837;
  border: 1px solid #e62837;
}

@media (max-width: 1250px) {
  .footer__icon-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

.footer__social-name {
  margin-bottom: 1rem;
}

@media (max-width: 1250px) {
  .footer__social-name {
    margin-bottom: 0;
    margin-right: 0.5rem;
  }
}

.footer__copyright {
  color: #7bacdd;
  text-align: center;
}

/* Enf of Footer */
