/* Articles Section */

.art-column {
  position: relative;
  top: $height-nav;

  background-color: #f2f2f2;

  padding: 8rem 0rem 8em;

  &__container {
  }

  &__title {
    color: $color-primary;
    font-size: 4rem;
    text-shadow: 0.1rem 0.1rem 0.2rem #888;
    letter-spacing: 0.25rem;
    text-align: center;

    margin-bottom: 3rem;

    & span {
      color: $color-secondary;
    }
  }

  &__wrapper {
    display: flex;
    flex-flow: wrap;
    gap: 4rem;
  }

  &__article {
  }
}

.article {
  flex: 1 1 45%;
  background-color: #fff;

  box-shadow: 0rem 0rem 0.625rem #888;
  padding: 2em;

  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateY(-1rem);
    box-shadow: 0rem 0rem 1.25rem #888;

    & .article__image {
      transform: scale(1.1);
    }
  }

  &__image-box {
    width: 100%;

    overflow: hidden;

    margin-bottom: 2rem;
  }

  &__image {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    object-position: bottom;

    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  &__text-box {
    line-height: 1.5;
  }

  &__title {
    color: #002290;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;

    cursor: pointer;

    &:hover {
      color: #1e90ff;
    }
  }

  &__text {
    color: #555;
    font-size: 1.125rem;

    & span {
      color: $color-secondary;
      font-weight: 700;

      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* End of  Articles Section */
