/* Banner Section*/

$banner-image-size1: 16rem;
$banner-image-size2: $banner-image-size1 * 1.5;

@media (max-width: 850px) {
}

.banner {
  width: 100%;
  height: 40rem;
  background: url(../images/banner.jpg) no-repeat bottom;
  background: $color-primary;
  background-size: cover;

  position: relative;
  top: $height-nav;

  @media (max-width: 1250px) {
    height: 30rem;
  }

  @media (max-width: 850px) {
    height: 23rem;
  }

  &__container {
    position: relative;

    @media (max-width: 1250px) {
      padding: 0 2em;
    }
  }

  &__txt-content {
    position: relative;
    top: 10rem;
    left: 0;

    line-height: 1.5;
    max-width: 35rem;
    transform: translateZ(1rem);

    @media (max-width: 1250px) {
      top: 8rem;
      max-width: 32rem;
    }
    @media (max-width: 1050px) {
      max-width: 26rem;
    }

    @media (max-width: 950px) {
      padding-left: 1em;
      top: 3rem;
      max-width: 24rem;
    }
    @media (max-width: 750px) {
      max-width: 100%;
      text-align: center;
    }
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;

    & span {
      color: $color-secondary;
    }

    @media (max-width: 1250px) {
      font-size: 1.5rem;
    }

    @media (max-width: 750px) {
      max-width: 23rem;
      margin: auto;
    }
  }

  &__title {
    font-size: 7rem;
    color: $color-secondary;

    @media (max-width: 1250px) {
      font-size: 5rem;
    }
  }

  &__img-wrapper {
    position: absolute;
    left: 50%;
    top: 0;

    width: 50%;
    height: 100%;

    @media (max-width: 850px) {
      left: 55%;
    }

    @media (max-width: 750px) {
      display: none;
    }
  }

  &__image-box {
    position: absolute;

    width: $banner-image-size1;
    height: $banner-image-size2;

    padding: 0.5rem;
    background-color: #fff;

    @media (max-width: 1250px) {
      width: 12rem;
      height: 18rem;
    }
    @media (max-width: 850px) {
      width: 8rem;
      height: 12rem;
    }

    &--first {
      top: 25%;
      left: 50%;
      z-index: 10;

      @media (max-width: 850px) {
        top: 35%;
        left: 45%;
      }
    }

    &--second {
      width: $banner-image-size2;
      height: $banner-image-size1;

      top: 15%;
      left: 15%;

      z-index: 8;

      @media (max-width: 1250px) {
        width: 18rem;
        height: 12rem;
      }
      @media (max-width: 850px) {
        width: 12rem;
        height: 8rem;
        top: 15%;
      }
    }

    &--third {
      top: 45%;
      left: 0%;

      z-index: 4;

      @media (max-width: 850px) {
        top: 35%;
        left: 5%;
      }
    }
    &--fourth {
      width: $banner-image-size2;
      height: $banner-image-size1;

      top: 95%;
      left: 15%;

      z-index: 0;

      @media (max-width: 1250px) {
        width: 18rem;
        height: 12rem;
      }

      @media (max-width: 850px) {
        width: 12rem;
        height: 8rem;
      }

      @media (max-width: 850px) {
        top: 75%;
      }
    }
  }

  &__image {
    object-fit: cover;

    width: 100%;
    height: 100%;
  }
}

/* End of Banner Section*/
