/* Brief Section */

.brief {
  position: relative;
  top: $height-nav;

  padding: $sections-padding;

  &__container {
  }

  &__title {
    color: $color-primary;
    font-size: $title-font-size;
    text-shadow: 0.1rem 0.1rem 0.2rem #888;
    letter-spacing: 0.25rem;
    text-align: center;

    margin-bottom: 2rem;

    & span {
      color: $color-secondary;
    }

    @media (max-width: 650px) {
      padding: 0 1em;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;

    width: 100%;

    color: black;
  }

  &__item {
    display: flex;

    color: $color-primary;
    font-size: 1.125rem;
    border: 1px solid $color-primary;

    cursor: pointer;
    margin: 1rem;

    &:hover .brief__text {
      background-color: $color-primary;
      color: #fff;
    }

    @media (max-width: 850px) {
      margin: 0.5rem;
      font-size: 0.875rem;
    }
  }

  &__number {
    color: #fff;
    background-color: $color-primary;
    padding: 1em;
  }

  &__text {
    background-color: #fff;
    padding: 1em;

    transition: all 0.3s ease-in-out;
  }
}

/* End of  Brief Section */
