/* Brief Section */

.brief {
  position: relative;
  top: $height-nav;

  padding: 8em 0em 8em;

  background-color: #f2f2f2;

  &__container {
  }

  &__title {
    color: $color-primary;
    font-size: 4rem;
    text-shadow: 0.1rem 0.1rem 0.2rem #888;
    letter-spacing: 0.25rem;
    text-align: center;

    margin-bottom: 3rem;

    & span {
      color: $color-secondary;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-flow: wrap;

    width: 100%;

    color: black;
  }

  &__item {
    display: flex;

    color: $color-primary;
    font-size: 1.25rem;
    border: 1px solid $color-primary;

    cursor: pointer;
    margin: 1rem 2rem;

    &:hover .brief__text {
      background-color: $color-primary;
      color: #fff;
    }
  }

  &__number {
    color: #fff;
    background-color: $color-primary;
    padding: 1em;
  }

  &__text {
    background-color: #fff;
    padding: 1em;

    transition: all 0.3s ease-in-out;
  }
}

/* End of  Brief Section */
