/* Entry Secion */

.entry {
  position: relative;
  top: $height-nav;

  padding: $sections-padding;

  background-color: #f2f2f2;

  &__container {
  }

  &__title {
    color: $color-secondary;
    font-size: $title-font-size;
    font-weight: 500;

    letter-spacing: 0.25rem;
    text-align: center;

    margin-bottom: 2rem;
  }

  &__text-box {
    margin-bottom: 2.5rem;
  }
}

.text-box {
  &__subtitle {
    color: $color-primary;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__text {
    color: #222;
    font-size: 1.125rem;
    text-align: justify;
    // max-width: 40rem;
    line-height: 1.6;
  }
}

/* End of  Entry Secion */
