/* Navbar Section */

$height-nav: 6rem;

.button-container {
  position: absolute;
  top: $height-nav * 0.5;
  left: 0rem;

  z-index: 30;
  transform: translateY(-50%);
}

.nav {
  width: 100%;
  height: $height-nav;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid $color-primary-shade1;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 20;

  &__container {
    height: 100%;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button-open {
    position: absolute;
    left: 1rem;
    top: 50%;

    transform: translateY(-50%);
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__logo-box {
    height: 4.375rem;
    width: 4.375rem;

    margin-right: 2rem;
  }

  &__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title-box {
  }

  &__title {
    color: $color-secondary;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__subtitle {
    color: $color-primary;
    font-size: 2rem;
  }
}

/* End of Navbar Section */
