/* Newsletter Section */

.newsletter {
  position: relative;
  top: $height-nav;

  padding: 6em;

  &__container {
    max-height: 30rem;
    display: flex;

    box-shadow: 0rem 0rem 1.25rem #888;
  }

  &__image-box {
    flex: 1 1 50%;
  }

  &__image {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: bottom;
  }

  &__form {
    flex: 1 1 50%;

    background-color: #889aee;
    padding: 4em;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 3rem;
  }

  &__text {
    color: #fff;
    font-size: 1.875rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  &__form-elements {
    width: 100%;

    display: flex;
    align-items: center;

    position: relative;
  }

  &__input {
    width: 25rem;
    height: 3rem;
    border: 4px solid #eee;
    color: $color-primary;

    display: flex;
    align-items: center;

    font-size: 1.5rem;
    letter-spacing: 0.0625rem;

    transition: border 0.3s;

    padding: 0.25em 0.5em;
    margin-right: 2rem;

    &:focus {
      outline: none;
      border: 4px solid $color-secondary;
    }

    &:valid {
      border: 4px solid green;
    }
  }

  &__email-sign {
    position: absolute;
    left: 22.75rem;

    font-size: 1.5rem;
    color: $color-primary-shade2;
  }

  &__button {
    height: 3rem;
    color: #fff;
    background-color: #00ad00;

    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.125rem;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5em 2em;

    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: green;
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
  }
}

.modal {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;

  display: flex;
  justify-content: center;
  align-items: center;

  // display: none;

  &__wrapper {
    width: 48rem;
    height: 30rem;
  }

  &--block-valid {
    color: #00008b;
    background-color: $color-primary-shade2;
  }

  &--block-invalid {
    display: none;
  }

  &__block {
    width: 100%;
    height: 100%;
  }

  &__title-box {
    width: 100%;
    height: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: 3rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }

  &__text-box {
    width: 100%;
    height: 60%;

    color: $color-primary;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 4em;
  }

  &__text {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
  }

  &__sign {
    font-size: 2.5rem;
    color: #00ad00;
  }
}

/* End of  Newsletter Section */
