/* Newsletter Section */

.newsletter {
  position: relative;
  top: $height-nav;

  padding: 6em 0em 6em;

  &__container {
    max-height: 30rem;
    display: flex;

    box-shadow: 0rem 0rem 1.25rem #888;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0rem 0rem 3rem #888;

      & .newsletter__image {
        transform: scale(1.1);
      }
    }
  }

  &__image-box {
    flex: 1 1 50%;

    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: bottom;

    transition: transform 0.3s ease-in;
  }

  &__form {
    flex: 1 1 50%;

    background-color: #889aee;
    background-color: $color-primary;
    padding: 4em 3em 1.5em;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 3.5rem;
  }

  &__text {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 4rem;
  }

  &__form-elements {
    width: 100%;

    display: flex;
    align-items: center;

    position: relative;
  }

  &__input {
    width: 25rem;
    height: 3rem;
    border: 4px solid #eee;
    color: $color-primary;

    display: flex;
    align-items: center;

    font-size: 1.25rem;
    letter-spacing: 0.0625rem;

    transition: border 0.3s;

    padding: 0.75em 0.5em;
    margin-right: 2rem;

    &:focus {
      outline: none;
      border: 4px solid $color-secondary;
    }

    &:valid {
      border: 4px solid green;
    }
  }

  &__email-sign {
    position: absolute;
    left: 22.5rem;

    font-size: 1.25rem;
    color: $color-primary-shade2;
  }

  &__button {
    height: 3rem;
    color: #fff;
    background-color: #00ad00;

    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.125rem;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5em 2em;

    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;

    &:hover {
      background-color: green;
    }

    &:active {
      outline: none;
      transform: scale(0.98);
    }
  }

  &__alert {
    position: absolute;
    top: 4rem;

    display: block;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.125rem;
    color: #f22613;

    opacity: 0;
    transition: opacity 0.3s;
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
  }
}

.modal {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;

  display: flex;
  justify-content: center;
  align-items: center;

  display: none;

  &__wrapper {
    width: 48rem;
    height: 30rem;
  }

  &--block-valid {
    color: #00008b;
    background-color: $color-primary-shade2;
  }

  &__block {
    width: 100%;
    height: 100%;
  }

  &__sign-box {
    width: 100%;
    height: 45%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4rem;
  }

  &__sign {
    color: #00ad00;
    font-size: 8rem;
    letter-spacing: 0.125rem;
    text-align: center;
  }

  &__text-box {
    width: 100%;
    height: 55%;

    color: $color-primary;
    background-color: #fff;

    display: flex;
    flex-flow: column;
    align-items: center;

    padding: 2em 4em;
  }

  &__text-title {
    color: #00ad00;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;

    margin-bottom: 1rem;
  }

  &__text {
    color: #535cac;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
  }
}

/* End of  Newsletter Section */
