/* Sections  */
.section {
  position: relative;
  top: $height-nav;

  padding: 2em;

  &__container {
  }

  &__title {
    font-size: 4rem;
    color: $color-primary;

    margin-bottom: 2rem;
  }

  &__gallery {
  }
}

.gallery {
  display: flex;

  &__guide {
  }
}

$size-guide: 350px;

.guide {
  flex: 0 0 $size-guide;
  cursor: pointer;

  box-shadow: 0rem 0rem 0.625rem #888;
  transition: box-shadow 0.3s ease-in;

  position: relative;

  &:hover {
    box-shadow: 0rem 0rem 1.25rem #888;

    & .guide__image {
      transform: scale(1.2);
    }
  }

  &__image-box {
    width: 100%;
    height: $size-guide / 1.6;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: bottom;

    transition: transform 0.3s ease-in;
  }

  &__info {
    padding: 1em;
  }

  &__text {
  }

  &__name-box {
    margin-bottom: 1rem;
  }

  &__name {
    color: $color-secondary;
    letter-spacing: 0.125rem;
    font-size: 2rem;
  }

  &__title {
    color: $color-primary;
    letter-spacing: 0.125rem;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__description {
    font-size: 1.25rem;
    text-align: justify;
    margin-bottom: 1rem;
  }

  &__address {
    font-size: 1.25rem;
    font-weight: 700;

    color: $color-primary;
    margin-bottom: 1rem;

    & p:first-child {
      color: $color-secondary;
      font-weight: 700;
      margin-bottom: 0.25rem;
    }
  }

  &__rating-display {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  &__rating {
    display: flex;
    align-items: center;

    color: $color-secondary;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  &__rating-stars {
    margin-right: 1rem;
  }

  &__reviews {
    color: $color-primary;
    font-weight: 700;
  }
}

/* End of Sections  */
