/* Sections  */
.section {
  position: relative;
  top: $height-nav;

  padding: 2em;

  &__container {
    padding: 2em 2em;
    min-height: 50rem;
  }

  &__title {
    color: $color-primary;
    font-size: 4rem;
    letter-spacing: 0.25rem;

    margin-bottom: 2rem;
  }

  &__gallery {
  }
}

.gallery {
  position: relative;

  &__button {
    font-size: 2rem;
    color: $color-primary;
    background-color: inherit;

    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    cursor: pointer;
    &--prev {
      left: -5rem;
    }
    &--next {
      right: -5rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-flow: no-wrap;
  }

  &__guide {
    margin: 0 1rem;
  }
}

$size-guide: 302px;

.guide {
  flex: 0 0 $size-guide;
  cursor: pointer;

  box-shadow: 0rem 0rem 0.625rem #888;
  transition: box-shadow 0.3s ease-in;

  position: relative;

  &:hover {
    box-shadow: 0rem 0rem 1.25rem #888;

    & .guide__image {
      transform: scale(1.2);
    }
  }

  &__image-box {
    width: 100%;
    height: $size-guide / 1.6;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: bottom;

    transition: transform 0.3s ease-in;
  }

  &__info {
    padding: 1em;
  }

  &__name-box {
    margin-bottom: 1rem;
  }

  &__name {
    color: $color-secondary;
    letter-spacing: 0.125rem;
    font-size: 2rem;
  }

  &__title {
    color: $color-primary;
    letter-spacing: 0.125rem;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__description {
    font-size: 1.25rem;
    text-indent: 1rem;
    text-align: justify;
    margin-bottom: 5rem;
  }

  &__rating-display {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  &__rating {
    display: flex;
    align-items: center;

    color: $color-secondary;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  &__rating-stars {
    margin-right: 1rem;
  }

  &__reviews {
    color: $color-primary;
    font-weight: 700;
  }
}

/* End of Sections  */

.gallery {
}
